{% extends 'base.html' %}
{% load static %}

{% block style %}

{% endblock style %}%}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">UPYNG:1.0.0</h1>
      <div class="row center">
        <h5 class="header col s12 light">A docker image with installed ubuntu:18.04, python:3.6 and nginx:alpine</h5>
      </div>
      <div class="row center">
        <a href="https://cloud.docker.com/u/ozcanyarimdunya/repository/docker/ozcanyarimdunya/upyng"
           id="download-button"
           class="btn-large waves-effect waves-light orange">Get Started</a>
        <a href="{% url 'demo:list' %}" id="download-button"
           class="btn-large waves-effect waves-light black">List</a>
      </div>
      <br><br>
    </div>
  </div>
{% endblock content %}

{% block script %}
{% endblock script %}